<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful World</title>
    <link rel="stylesheet" th:href="@{/createMessage.css}">
</head>
<body>
<div class="language-options">
    <a href="http://localhost:8080/createmessage?lang=en" id="english-btn">English</a>
    <a href="http://localhost:8080/createmessage?lang=sv" id="swedish-btn">Swedish</a>
</div>
<div class="header-buttons">
    <a th:if="${!principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-button" href="http://localhost:8080/login" id="login-btn">Log in</a>
    <a th:if="${principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-button" href="http://localhost:8080/">Message Feed</a>
    <a th:if="${principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-button" href="http://localhost:8080/mypage" id="my-page-btn">My Page</a>
    <a th:if="${principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-button" href="http://localhost:8080/logout" id="logout-btn">Log out</a>
</div>
<div class="content">
    <h1 class="site-title">Beautiful World</h1>
    <div class="post-section">
        <form action="#" th:action="@{/createmessage}" th:object="${formdata}" method="post">
            <textarea id="post-title" th:placeholder="#{Title}" th:field="*{title}"></textarea>
            <textarea id="post-text" th:placeholder="#{Sharethought}" th:field="*{text}"></textarea>
            <a class="header-button" id="generateRandomMessage" href="http://localhost:8080/newRandomPhrase">Generate Random Message</a>
            <br>
            <label id="public-label">Public</label>
            <input type="checkbox" id="publicCheckbox" name="public" value="public" th:field="*{public}">
            <button id="submit-btn" type="submit" th:text="#{Share}">Share</button>
        </form>
    </div>
    <br>
</div>
</body>
<script>
    window.onload = function() {
        document.getElementById("post-text").value = "[[${randomPhrase}]]";
    };
</script>
</html>
