body {
    background: linear-gradient(to right, yellow, lightskyblue,yellow);
    font-family: "Calibri", sans-serif;
    font-size: 40px;
}

.language-options {
    text-align: right;
    padding: 10px;
}

.menu {
    position: absolute;
    left: 10px;
    top: 20px;
}
#english-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#swedish-btn{
    position: absolute;
    right: 85px;
    top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#home-btn{
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.site-title {
    color: darkblue;
    text-align: center;
}

.post-section {
    text-align: center;
    margin-top: 20px;
}

#file-upload {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
#post-title {
    width: 20%;
    height: 50px;
    margin: 0 auto;
    display: block;
}

#post-text {
    width: 80%;
    height: 120px;
    margin: 0 auto;
    display: block;
}
#public-label{
    font-size: 20px;
    font-weight: bold;
}

#submit-btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
