
body {
    background: linear-gradient(to right, yellow, lightskyblue, yellow);
    font-family: "Calibri", sans-serif;
    font-size: 20px;
}
.site-title {
    color: darkblue;
    text-align: center;
}
.not-logged-in {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}


.center {
    text-align: center;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

#center\ message {
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
    display: block;
}



#english-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
#swedish-btn{
    position: absolute;
    right: 85px;
    top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}


.message {
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-top: 1px;
}

.user-info {
    display: block;
    width: 100%;
}
.user-info p{
    font-size: 12px;
}

.translate-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
#languageSelected {
    display: none;
}
.center-message {
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.header-buttons {
    background: linear-gradient(to right, yellow, lightskyblue, yellow);
    display: flex;
    margin: 20px;
    flex-direction: row;
    top: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.header-button  {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.search-textbox{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.load-more{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.userEdit-info{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    width: 100%;
}

.center-message h5{
    margin-top: 10px;
    text-decoration: underline;
}



#name-label {
    font-size: 22px;
    font-weight: bold;
}

#username-label {
    font-size: 22px;
    font-weight: bold;
}

#email-label {
    font-size: 22px;
    font-weight: bold;
}

.editable-rectangle {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
}



#my-page-title {
    text-align: center;
    font-style: italic;
    font-family: "Californian FB", sans-serif;
}

#profile-picture {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#name {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#username {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#email {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}