body {
    background: linear-gradient(to right, yellow, lightskyblue, yellow);
    font-family: "Calibri", sans-serif;
    font-size: 40px;
}
.profile {
    max-width: 300px;
    margin: 0 auto;
}
.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.profile-info {
    margin-top: 20px;
}
.profile-info p {
    margin: 5px 0;
}