<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <style>
        td {
            margin-bottom: 10px;
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body hx-headers='{"_csrf.headerName": "${_csrf.token}"}'>

<div>
    <table>
        <tbody th:attr="hx-get='/htmx/' + ${message.id}">
        <tr>
            <td th:text="${message.user.username}"></td>
            <td>
                <label>
                    <textarea type="text" th:text="${message.title}"  th:value="${updatedMessage.title}"></textarea>
                </label>
            </td>
            <td>
                <label>
                    <textarea type="text" th:text="${message.text}"  th:value="${updatedMessage.text}"></textarea>
                </label>
            </td>
            <td>
                <button class="btn btn-danger"
                        th:attr="hx-post=@{/htmx/{id}(id=${message.id})}"
                        hx-trigger="click">
                    Save
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>