<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <style>
        td {
            margin-bottom: 10px;
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body hx-headers='{"_csrf.headerName": "${_csrf.token}"}'>


<a href="/">Back to main program</a>

<table>
    <thead>
    <tr>
    <th>Username</th>
    <th>Text</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
    <tr th:each="message : ${listOfMessages}">
        <td th:text="${message.user.username}"></td>
        <td th:text="${message.text}"></td>
        <td> <button class="btn btn-danger"
        th:attr="hx-path=@{/htmx/{id}(id=${message.id})}"
        hx-trigger="edit"
        onclick="let editing = document.getElementById('.editing')"
        >Edit</button></td>

        <td>
            <button
            hx-confirm="Are you sure?"
            hx-swap="outerHTML"
            hx-trigger="click"
            th:attr="hx-delete=@{/htmx/{id}(id=${message.id})}"
            >Deöete</button>
        </td>
    </tr>

    </tbody>
</table>








<!--<div th:each="message : ${listOfMessages}">

    <div class="thymeleaf"><span th:text="${message.user.username} + ': ' + ${message.text}"></span>
        <button
                th:if="${message.user.id == userId}"
                th:attr="hx-patch=@{/htmx/{id}(id=${message.id})}"
                hx-swap="outerHtml"
                hx-target="div.thymeleaf"
                hx-headers='{"_csrf.headerName": "${_csrf.token}"}'
                hx-confirm="Are you sure?">
            Edit</button>
        <button
                th:if="${message.user.id == userId}"
                th:attr="hx-delete=@{/htmx/{id}(id=${message.id})}"
                hx-swap="outerHtml"
                hx-headers='{"_csrf.headerName": "${_csrf.token}"}'
                hx-confirm="Are you sure?">
            Delete</button>
</div>
</div>-->




</body>
</html>