<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>
<div class="language-options">
    <a href="http://localhost:8080/?lang=en" id="english-btn">English</a>
    <a href="http://localhost:8080/?lang=sv" id="swedish-btn">Swedish</a>
</div>
<a href="http://localhost:8080/login" id="login-btn">Log in</a>
<label class="not-logged-in">You are not logged in</label>
<div>
    <h1 class="site-title">Beautiful World</h1>
</div>

<div th:each="message : ${listOfMessages}" class="card mb-3">
    <div class="card-body">
        <h5 class="center title" th:text="${ message?.title }"></h5>
        <p id="center message" th:text="${ message?.text}"></p>


        <div class="user-info">
            <p class="message" th:text="#{Author} + ': ' + ${message?.user.username}"></p>
            <p class="message" th:text="#{PublishedTime}+ ': ' + ${message?.timestamp}"></p>

        </div>

        <div class="translate-section">
            <p class="message">Translate to</p>
            <label for="languageSelect"></label>
            <select name="language" id="languageSelect">
                <option th:each="lang : ${T(com.example.springbootlabmessages.Translation.Languages).values()}"
                        th:value="${selectedLang}"
                        th:text="${lang.getLangCode()}"></option>
            </select>
            <form th:action="@{'/translate/' + ${message?.id} + '/' + ${selectedLang}}" method="post">
                <!-- Include CSRF token if necessary -->
                <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->

                <!-- Include hidden input to hold the selected language -->
                <input type="hidden" id="selectedLanguage" name="selectedLanguage" th:value="${selectedLang}" />

                <!-- Other form inputs -->
                <!-- Add other form inputs here -->

                <button type="submit">Translate</button>
            </form>
            <script>
                // Add event listener for dropdown change
                document.getElementById("languageSelect").addEventListener("change", function() {
                    // Get the selected value
                    // Update the value of the hidden input
                    document.getElementById("selectedLanguage").value = this.value;
                });
            </script>
        </div>
    </div>
</div>
<a href="http://localhost:8080/loadMorePublicMessages" >Load More Messages</a>

</body>
</html>
