<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>
<div class="language-options">
    <a href="http://localhost:8080/?lang=en" id="english-btn">English</a>
    <a href="http://localhost:8080/?lang=sv" id="swedish-btn">Swedish</a>
</div>
<a href="http://localhost:8080/login" id="login-btn">Log in</a>
<label class="not-logged-in">You are not logged in</label>
<div>
    <h1 class="site-title">Beautiful World</h1>
</div>

<div th:each="message : ${listOfMessages}" class="card mb-3">
    <div class="card-body">
        <h5 class="center title" th:text="${message?.title}"></h5>
        <p id="center message" th:text="${message?.text}"></p>

        <div class="user-info">
            <p class="message" th:text="#{Author} + ': ' + ${message?.user.username}"></p>
            <p class="message" th:text="#{PublishedTime}+ ': ' + ${message?.createdAt}"></p>
            <div class="translate-section">
                <p class="message">Translate to</p>
                <form th:action="@{'/translate/' + ${message.id}}" th:object="${selectedLang}" method="post">

                    <select id="languageSelect">
                        <option th:each="lang : ${languagesList}"
                                th:value="${lang.getLangCode()}"
                                th:text="${lang}">
                        </option>

                    </select>
                    <textarea   id="languageSelected"  th:field="*{langCode}"></textarea>
                    <button type="submit">Translate</button>

                </form>
            </div>
        </div>


    </div>
</div>
<script>
    function setupLanguageSelectionListener() {
        document.body.addEventListener("change", function(event) {
            if (event.target && event.target.id === "languageSelect") {
                // Get the selected value
                var selectedValue = event.target.value;
                console.log("Selected language:", selectedValue);
                // Update the sibling hidden input field value
                event.target.nextElementSibling.value = selectedValue;
            }
        });

        document.getElementById("loadMoreMessagesBtn").addEventListener("click", function(event) {
            // Perform logic to load more messages here

            // Call the setupLanguageSelectionListener function after new messages are loaded
            setupLanguageSelectionListener();
        });
    }

    // Call the function when the page is initially loaded
    document.addEventListener("DOMContentLoaded", function() {
        setupLanguageSelectionListener();
    });
</script>
<a href="#" id="loadMoreMessagesBtn">Load More Messages</a>
</body>
</html>