<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>
<div class="language-options">
    <a href="http://localhost:8080/?lang=en" id="english-btn">English</a>
    <a href="http://localhost:8080/?lang=sv" id="swedish-btn">Swedish</a>
</div>
<div class="header-buttons">
    <a th:if="${!principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-button" href="http://localhost:8080/login" id="login-btn" th:text="#{login}"></a>
    <a th:if="${principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-button" href="http://localhost:8080/mypage" id="my-page-btn" th:text="#{MyPage}"></a>
    <a th:if="${principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-button" href="http://localhost:8080/createmessage" id="create-message-btn" th:text="#{CreateMessage}"></a>
    <a th:if="${principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-button" href="http://localhost:8080/logout" id="logout-btn" th:text="#{logout}">Log out</a>
</div>
<label th:if="${!principal.getAuthorities().stream().findFirst().get().getAuthority().equals('OAUTH2_USER')}" class="header-buttons" th:text="#{notlogin}"></label>
<div>
    <h1 class="site-title">Beautiful World</h1>
</div>

<div th:each="message : ${listOfMessages}"  class="card mb-3">

    <div class="card-body">
        <h5 class="center-message" th:text="${message?.title}"></h5>
        <p class="center-message" th:text="${message?.text}"></p>
        <p class="center-message" th:if="${translatedMessage != null && currentMessageToTranslateId == message.id}" th:text="#{translate} + ${translatedMessage}"></p>


        <div class="user-info">
            <p class="message" th:text="#{Author} + ': ' + ${message?.user.username}"></p>
            <p class="message" th:text="#{PublishedTime}+ ': ' + ${message?.createdAt}"></p>

            <div class="translate-section">
                <p class="message">Translate to</p>
                <form th:action="@{'/translate/' + ${message.id}}" th:object="${selectedLang}" method="post">

                    <select id="languageSelect">
                        <option th:each="lang : ${languagesList}"
                                th:value="${lang.getLangCode()}"
                                th:text="${lang}">
                        </option>

                    </select>
                    <textarea   id="languageSelected"  th:field="*{langCode}"></textarea>
                    <button type="submit">Translate</button>

                </form>
            </div>
        </div>


    </div>
</div>
<script>
    function setupLanguageSelectionListenerForMessage(messageCard) {
        messageCard.addEventListener("change", function(event) {
            if (event.target && event.target.id === "languageSelect") {
                var selectedValue = event.target.value;
                event.target.nextElementSibling.value = selectedValue;
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        setupLanguageSelectionListenerForMessage(document);

        document.getElementById("loadMoreMessagesBtn").addEventListener("click", function(event) {
            var newMessageCards = document.querySelectorAll(".card-body");
            newMessageCards.forEach(function(card) {
                setupLanguageSelectionListenerForMessage(card);
            });
        });
    });
</script>
<a class="center-message" href="/loadMoreMessages" id="loadMoreMessagesBtn">Load More Messages</a>
</body>
</html>