<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/myPage.css}">
</head>
<body>
<div class="profile">
    <img src="profile.jpg" alt="Profile Picture">
    <div class="profile-info">
        <p th:text="${'Your username: ' + message?.user.username}"></p>
        <p th:text="${'Name: ' + message?.user.firstName}"></p>
        <p th:text="${'Last name: ' + message?.user.lastName}"></p>
        <p th:text="${'Email: ' + message?.user.email}"></p>
    </div>
</div>
</body>
</html>
